{% extends "blog/base.html" %}
{% block content %}
    <h3>Hello, World!</h3>
    <p class="article-content">
    	If you are a beginner programmer, welcome! This community will provide you with a one of a kind learning experience. 
    	<br> If you are a skilled programmer who's eager to help out novice coders and gain some GitHub followers along the way, thank you for joining!
    	<br> Things you are welcome to post/share on this platform:<br> 1. Links to projects<br> 2. Links to GitHub profiles <br> 3. Links to open source projects for learning <br> 4. Any questions about programming/your projects <br> 5. Learning resource recommendations (courses, websites, etc.) <br> 6. A lot more!
    	<br> My goal is to help build a closely-knit community that supports new learners and make coding far less intimidating than it seems. I am planning to add a lot more features to this site to make it as interactive as possible and offer you a great experience. Stay tuned for updates including topic categorization, upvote system, code snippet upload, anonymous comment sections, and so much more ^^
    	<br> Enjoy coding!
    </p>
{% endblock content %}